In [79]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
BASE_PATH = '../data/'
TRAIN_FILE = 'train_processed.pkl'
TEST_FILE = 'test_processed.pkl'
TRAIN_PATH = BASE_PATH + TRAIN_FILE
TEST_PATH = BASE_PATH + TEST_FILE
TEST = 'train.csv'
TRAIN_PATH2 = BASE_PATH + TEST

In [80]:
import pickle


data = pickle.load(open(TRAIN_PATH,'rb'))

CatName = pickle.load(open(BASE_PATH+'CatName.pkl','rb'))
print(CatName)

data10K = data[:500000]
test = pickle.load(open(TEST_PATH,'rb'))

['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY', 'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION', 'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING', 'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING', 'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES', 'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE', 'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE', 'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE', 'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT', 'WARRANTS', 'WEAPON LAWS']

In [81]:
>>> test

,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,1,-122.399588,37.735051,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,-122.391523,37.732432,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,-122.426002,37.792212,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,-122.437394,37.721412,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,-122.437394,37.721412,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884257,1,-122.408983,37.751987,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884258,1,-122.425342,37.792681,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884259,1,-122.445418,37.712075,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884260,1,-122.387394,37.739479,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884261,1,-122.489714,37.733950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [82]:
>>> data10K

,Category,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,37,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,21,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,21,0,-122.424363,37.800414,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,16,1,-122.426995,37.800873,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,16,1,-122.438738,37.771541,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,7,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499996,7,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499997,21,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499998,16,0,-122.431207,37.784568,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499999,16,0,-122.429042,37.781846,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [83]:
y = data10K.loc[:, data10K.columns == 'Category']

In [84]:
>>> test

,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,1,-122.399588,37.735051,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,-122.391523,37.732432,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,-122.426002,37.792212,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,-122.437394,37.721412,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,-122.437394,37.721412,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884257,1,-122.408983,37.751987,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884258,1,-122.425342,37.792681,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884259,1,-122.445418,37.712075,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884260,1,-122.387394,37.739479,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
884261,1,-122.489714,37.733950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [85]:
>>> y

        Category
0             37
1             21
2             21
3             16
4             16
...          ...
499995         7
499996         7
499997        21
499998        16
499999        16

[500000 rows x 1 columns]

In [86]:
X = data10K.loc[:, data10K.columns != 'Category']

In [87]:
>>> X

,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,-122.424363,37.800414,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,-122.426995,37.800873,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,-122.438738,37.771541,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499996,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499997,1,-122.419658,37.764221,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499998,0,-122.431207,37.784568,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
499999,0,-122.429042,37.781846,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [88]:
x_train, x_test, y_train, y_test =\
    train_test_split(X, y, test_size=0.2, random_state=0)

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [90]:
model = LogisticRegression(solver='liblinear', C=0.05, multi_class='ovr',
                           random_state=0)

In [92]:
model.fit(x_train, y_train.values.ravel())

LogisticRegression(C=0.05, multi_class='ovr', random_state=0,
                   solver='liblinear')

In [93]:
model.score(x_train, y_train.values.ravel())

0.2499525

In [94]:
model.score(x_test, y_test.values.ravel())

0.24868

In [68]:
print(model.predict_proba(test))

[[6.62006185e-03 1.76880865e-01 1.64501973e-05 ... 2.39493540e-02
  6.51145710e-02 5.21772468e-02]
 [2.68464607e-03 9.73751704e-02 1.18960413e-05 ... 3.99439030e-02
  5.87723737e-02 3.97386267e-02]
 [2.74188755e-03 1.35765436e-01 3.18234047e-05 ... 2.39694965e-02
  5.89222896e-02 1.85711057e-02]
 ...
 [3.19612425e-03 1.24093127e-01 9.04422865e-04 ... 5.53050415e-02
  1.55797136e-02 9.69338357e-03]
 [7.31515546e-03 1.37978435e-01 1.01212989e-03 ... 3.65305592e-02
  2.07582762e-02 1.45676004e-02]
 [3.14251099e-03 9.81074844e-02 1.10153196e-03 ... 3.60044075e-02
  1.35539536e-02 5.99739633e-03]]

In [69]:
result = model.predict_proba(test)

In [70]:
sub = pd.read_csv(BASE_PATH+'sampleSubmission.csv', header=0)
sub.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [71]:
sub.shape

(884262, 40)

In [72]:
len(result[0])

39

In [73]:
result.shape

(884262, 39)

In [74]:
sub.iloc[:,1:]

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884257,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884258,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884259,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884260,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [75]:
sub.iloc[:,1:] = result

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0.006620,0.176881,0.000016,0.000960,0.027083,0.001929,0.006159,0.041515,0.010016,...,0.000021,0.009208,0.000441,0.038331,0.000026,0.006952,0.059952,0.023949,0.065115,0.052177
1,1,0.002685,0.097375,0.000012,0.000500,0.003220,0.001190,0.018821,0.044450,0.008121,...,0.000020,0.007074,0.000137,0.029216,0.000016,0.000840,0.045399,0.039944,0.058772,0.039739
2,2,0.002742,0.135765,0.000032,0.000496,0.049577,0.003343,0.004618,0.039630,0.009408,...,0.000031,0.013437,0.000496,0.039455,0.000019,0.009652,0.057752,0.023969,0.058922,0.018571
3,3,0.002666,0.157025,0.000031,0.000804,0.031725,0.001975,0.006167,0.025474,0.007109,...,0.000047,0.007343,0.000657,0.038363,0.000014,0.005403,0.077224,0.057204,0.041525,0.029500
4,4,0.002666,0.157025,0.000031,0.000804,0.031725,0.001975,0.006167,0.025474,0.007109,...,0.000047,0.007343,0.000657,0.038363,0.000014,0.005403,0.077224,0.057204,0.041525,0.029500

In [77]:
sub.to_csv('submission.csv',index=False)

In [78]:
sub

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0.006620,0.176881,0.000016,0.000960,0.027083,0.001929,0.006159,0.041515,0.010016,...,0.000021,0.009208,0.000441,0.038331,0.000026,0.006952,0.059952,0.023949,0.065115,0.052177
1,1,0.002685,0.097375,0.000012,0.000500,0.003220,0.001190,0.018821,0.044450,0.008121,...,0.000020,0.007074,0.000137,0.029216,0.000016,0.000840,0.045399,0.039944,0.058772,0.039739
2,2,0.002742,0.135765,0.000032,0.000496,0.049577,0.003343,0.004618,0.039630,0.009408,...,0.000031,0.013437,0.000496,0.039455,0.000019,0.009652,0.057752,0.023969,0.058922,0.018571
3,3,0.002666,0.157025,0.000031,0.000804,0.031725,0.001975,0.006167,0.025474,0.007109,...,0.000047,0.007343,0.000657,0.038363,0.000014,0.005403,0.077224,0.057204,0.041525,0.029500
4,4,0.002666,0.157025,0.000031,0.000804,0.031725,0.001975,0.006167,0.025474,0.007109,...,0.000047,0.007343,0.000657,0.038363,0.000014,0.005403,0.077224,0.057204,0.041525,0.029500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884257,884257,0.002381,0.108497,0.000936,0.000493,0.031213,0.014011,0.003911,0.073635,0.006958,...,0.000659,0.003034,0.000526,0.042433,0.000003,0.005174,0.065417,0.026146,0.024322,0.007605
884258,884258,0.002925,0.097045,0.001101,0.000257,0.065170,0.006343,0.002800,0.052841,0.003646,...,0.000537,0.003774,0.000412,0.044149,0.000003,0.005134,0.075749,0.025035,0.019154,0.005196
884259,884259,0.003196,0.124093,0.000904,0.000451,0.042505,0.004257,0.004437,0.040046,0.003245,...,0.000733,0.002310,0.000602,0.046188,0.000003,0.003238,0.101799,0.055305,0.015580,0.009693
884260,884260,0.007315,0.137978,0.001012,0.000551,0.045030,0.003728,0.003512,0.053202,0.003691,...,0.000576,0.002670,0.000395,0.047957,0.000004,0.003796,0.097091,0.036531,0.020758,0.014568
884261,884261,0.003143,0.098107,0.001102,0.000308,0.053587,0.003869,0.005759,0.032273,0.004546,...,0.000555,0.001945,0.000626,0.047218,0.000003,0.003776,0.111623,0.036004,0.013554,0.005997